<div class="container">
  <div class="row">
    <div class="col-12 border p-3">
      <div class="contain">header-component works!</div>
    </div>
    <div class="container border p-3">
      <div class="container">
        <div class="row">
          <div class="col-12 border p-3">
            <div class="contain">conversion-control-component works!</div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 border p-3">
            <div class="contain">conversation-history-component works!
              <div class="contain p-3">List of users in this thread</div>
              <div class="container">
                <div class="row">
                  <div class="col-12 border p-3">
                    <div class="contain">conversation-thread-component works!</div>
                    <div class="container">
                      <div class="row">
                        <div class="col-10 border p-3">
                          <div class="contain">sender-message-component works!</div>
                        </div>
                        <div class="col-10 border p-3">
                          <div class="contain">sender-message-component works!</div>
                        </div>
                        <div class="col-4 border p-3">
                          <div class="contain"></div>
                        </div>
                        <div class="col-8 border p-3">
                          <div class="contain">user-message-component works!</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-12 border p-3">
                        <div class="contain">send-message-component works!</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 border p-3">
            <div class="contain">contact-list-component works!</div>
            <div class="col-10 border p-3">
              <div class="contain">contact-component works!</div>
            </div>
            <div class="col-10 border p-3">
              <div class="contain">contact-component works!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>